@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shimmer animations */
@keyframes shimmer-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes spin-around {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-shimmer-slide {
  animation: shimmer-slide 3s linear infinite;
}

.animate-spin-around {
  animation: spin-around 3s linear infinite;
}
